
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg">
      <div class="card-body text-center position-relative">
        <button class="btn btn-primary position-absolute top-0 end-0 m-3" routerLink="/new">
          Agregar contacto
        </button>
        <h2 class="card-title text-primary">Próximamente más información</h2>
        <p class="card-text">
          ¡Gracias por visitar nuestra página! Pronto podrás acceder a una lista completa de contactos con más detalles.
        </p>
        <table class="table table-striped table-hover table-bordered text-center align-middle mt-4">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">EMAIL</th>
              <th scope="col">FECHA</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (contact of contacts; track contact.id) {
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.createdAt | date: 'dd/MM/yyyy' }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary" [routerLink]="[contact.id, 'edit']">Editar</button>
                <button class="btn btn-danger" (click)="deleteContact(contact)">Eliminar</button>
                </div>

              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
