<div class="container-fluid bg-primary text-white py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">Bienvenido a la página de Angular</h1>
      <p class="lead">
        Nos estamos conectando a una api REST. Creada Con Spring Boot
      </p>
    </div>
  </div>
</div>
<div class="container mt-5 ">
  <div class="row justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer bg-dark text-white py-3">
  <div class="container text-center">
    <p class="m-0">© 2024 Todos los derechos reservados</p>
  </div>
</footer>
